include ../shared/form-elements/input-file
include ../shared/form-elements/input-text
include ../shared/header

include ../shared/layout
  +header()
  main.page-content
    section.sign-up
      form.sign-up__form.form(action='#' method='post' enctype='multipart/form-data' autocomplete='off')
        .sign-up__title
          h2 Регистрация
          a.sign-up__link(href='login.html') Вход
        .sign-up__avatar-container.js-preview-container
          .sign-up__avatar.js-preview
          .sign-up__field-avatar
            +input-file({name: 'avatar', id: 'avatar', classname: 'sign-up__text-upload', otherclassname: 'sign-up__text-another'})
        .form__field.sign-up__field
          +input-text({type: 'text', id: 'user-name', name: 'user-name', label: 'Имя и фамилия', required: true})
        .form__field.sign-up__field
          +input-text({type: 'email', id: 'user-email', name: 'user-email', label: 'Имя и фамилия', required: true})
        .form__field.sign-up__field
          +input-text({type: 'password', id: 'user-password', name: 'user-password', label: 'Пароль', required: true})
        .form__field.sign-up__field
          +input-text({type: 'password', id: 'user-password-again', name: 'user-password-again', label: 'Пароль еще раз', required: true})
        button.sign-up__button.btn.btn--medium.js-button(type='submit' disabled='') Создать аккаунт
  include ../shared/footer
