// mixins
include ../shared/form-elements/input-text

mixin header(isSearchResult)

  header.header.header--logged
    .header__wrapper="header"
      a.header__logo.logo(href='main.html')
        img(src='../src/express/public/img/logo.svg' width='179' height='34' alt='Логотип Куплю Продам')
      nav.header__user-menu
        ul.header__list
          li.header__item
            a(href='my-tickets.html') &Pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&icy;
          li.header__item
            a(href='comments.html') &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
      form.search(method='get' action='#' autocomplete='off')
        +input-text('search', 'search')
        input(type='search' name='search' placeholder='Поиск' aria-label='Поиск')
        .search__icon
        .search__close-btn
      a.header__avatar.avatar(href='#')
        img(src='../src/express/public/img/avatar.jpg' srcset='../src/express/public/img/avatar@2x.jpg 2x' alt='Аватар пользователя')
      a.header__input(href='ticket-form.html') &Vcy;&khcy;&ocy;&dcy; &icy; &rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
