include ../shared/form-elements/input-file
include ../shared/form-elements/input-text
include ../shared/form-elements/input-textarea
include ../shared/form-elements/input-select
include ../shared/form-elements/input-radio

include ../shared/layout
  include ../shared/header
  main.page-content
    section.ticket-form
      .ticket-form__wrapper
        h1.ticket-form__title Редактировать публикацию
        .ticket-form__tile
          form.ticket-form__form.form(action='#' method='post' enctype='multipart/form-data' autocomplete='off')
            .ticket-form__avatar-container.js-preview-container.uploaded
              .ticket-form__avatar.js-preview
                img(src='../src/express/public/img/item02.jpg' srcset='../src/express/public/img/item02@2x.jpg 2x' alt='')
              .ticket-form__field-avatar
                +input-file({name: 'avatar', id: 'avatar', classname: 'ticket-form__text-upload', otherclassname: 'ticket-form__text-another'})
            .ticket-form__content
              .ticket-form__row
                .form__field
                  +input-text({type: 'text', name: 'ticket-name', id: 'ticket-name', value: 'Мое старое кресло', label: 'Название'})
              .ticket-form__row
                .form__field
                  +input-textarea({name: 'comment', id: 'comment-field', cols: 30, rows: 10, maxlength: 400, minlength: 50, value: 'Продам свое старое кресло, чтобы сидеть и читать книги зимними вечерами. Ножки мягкие, мой пол не царапают.', placeholder: 'Описание', required: true})
              .ticket-form__row
                +input-select([
                  {value: 1, text: 'Дом'},
                  {value: 2, text: 'Спорт и отдых'},
                  {value: 3, text: 'Авто'},
                  {value: 4, text: 'Электроника'}],
                  {name: 'category', id: 'category-field', classname: 'form__select js-multiple-select', datalabel: 'Выбрать категорию публикации'})
              .ticket-form__row
                .form__field.form__field--price
                  +input-text({type: 'number', name: 'price', id: 'price-field', value: 4000, classname: 'js-price', label: 'Цена', min: 1})
                .form__switch.switch
                  +input-radio([
                    {id: 'buy-field', name: 'action', value: 'buy', label: 'Куплю', isChecked: true},
                    {id: 'sell-field', name: 'action', value: 'sell', label: 'Продам'}],
                    {wrapperclass: 'switch__item', labelclass: 'switch__button'})
            button.form__button.btn.btn--medium.js-button(type='submit') Сохранить
  include ../shared/footer