mixin input-textarea(args)
  textarea.js-field(class=args.classname, name=args.name id=args.id cols=args.cols rows=args.rows maxlength=args.maxlength minlength=args.minlength required=args.required)=args.value
  label(for=args.name)=args.label
  if args.required
    span Обязательное поле